@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Vazir', system-ui, sans-serif;
  background-color: #faf7f2;
  direction: rtl;
}